*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Tahoma;
}

.header-container {
  height: 50px;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
}